<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurants that you might be like">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="icons/restauroka-logo.png">
    <link rel="apple-touch-icon" href="icons/restauroka-logo.png">
    <title>Restauroka</title>
</head>
<body>
    <a href="#mainContent" class="skip-link">Menuju Konten</a>
    <header>
        <div class="header_element">
            <div class="logo_name">
               <h1><a href="/">Restauroka</a></h1>
            </div>
            <button id="hamburger">☰</button>
            <nav id="drawer">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#/home">Home</a></li>
                    <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                    <li class="nav__item"><a href="https://github.com/AlfanWahyudi">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="hero" id="hero">
        <picture>
            <source type="image/jpeg" media="(max-width: 550px)" srcset="./images/hero-image_2-small.jpg">
            <img src='./images/hero-image_2-large.jpg' alt="hero image"></img>
        </picture>
        <div class="hero__inner">
            <h2 class="hero__title">Find restaurants easily</h2>
            <p class="hero__tagline">We offer several restaurants that you might like in cities close to where you are</p>
        </div>
    </div>
    <main id="mainContent" tabindex="0"></main>
    <footer>
        <div class="footer_element">
            <div class="logo_name logo__footer">
                <h2>Restauroka</h2>
            </div>
            <p>&copy; Copyright 2021, All Rights Reserved</p>
            <div class="social__media">
                <a href="#" aria-label="icon link our facebook account"><i class="fab fa-facebook"></i></a>
                <a href="#" aria-label="icon link our instagram account"><i class="fab fa-instagram"></i></a>
                <a href="#" aria-label="icon link our twitter account"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
