.restaurant_detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding: 0 5px;
}

.main_detail {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.poster {
    height: 420px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: auto 0;
}

.restaurant_info {
    margin-top: 27px;
}

.restaurant_info p:nth-of-type(1) {
    font-size: 15px;
    margin-top: 27px;
}

.restaurant_info p:nth-of-type(2) {
    font-size: 13px;
}

.restaurant_info p:nth-of-type(3) {
    margin-top: 27px;
    font-size: 13px;
}

.main_detail p {
    font-size: 13px;
    line-height: 1.6em;
    text-align: justify;
}

/* MENUS */

.menus h3 {
    margin-top: 20px;
}

.menus ol {
    padding-top: 5px;
    padding-left: 23px;
    padding-bottom: 3px;
    line-height: 1.8em;
    font-size: 13px;
    border-bottom: 1px solid #33332e52;
}

/* CUSTOMERS REVIEWS */
.customer_review {
    margin-bottom: 20px;
    max-width: 100%;
    min-height: 55px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #33332e52;
}

#btn_input_review {
    position: relative;
    min-height: 44px;
    top: -9px;
    color: #B4846C;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}

.customer_review time {
    opacity: .7;
    margin-bottom: 10px;
}

.customer_review p {
    font-size: 13px;
    padding-bottom: 3px;
}


/* Input Review */
.input_review_body {
    margin-top: 10px;
    display: none;
    flex-direction: column;
}

.form-group{
    margin-bottom: 10px;
}

input,
textarea {
    color: inherit;
    font-family: inherit;
    width: 100%;
    min-height: 44px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #33332e52;
    line-height: 1.5em;
}

input:focus, textarea:focus{
    border-color: #B4846C;
    outline: none;
}

.btn-group {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
}

.btn-group button {
    font-family: inherit;
    font-size: 14px;
    margin-top: 5px;
    min-width: 44px;
    min-height: 44px;
    width: 100%;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #B4846C;
    background-color: #B4846C;
    cursor: pointer;
}

.btn-group button:hover {
    font-weight: 600;
    color: white;
    background-color: #ad7d64;
}

/*LIKE BUTTON*/
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #B4846C;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}