@media screen and (min-width: 425px) {
    .restaurant__thumbnail {
        height: 210px;
    }
}

@media screen and (min-width: 460px) {
    nav{
        flex-basis: 60%;
        margin-right: 5%;
        text-align: right;
    }
    
    .nav__list {
        margin: 0;
        width: 100%;
    }
    
    .nav__item {
        display: inline;
        line-height: 32px;
        border: none;
    }

    .nav__item:hover {
        background-color: #fff;
    }
    
    nav a {
        width: auto;
        height: auto;
        margin: 0;
        display: inline-block;
        padding: 1em 0 1em 2em;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
    }
    
    nav a:hover { 
       color: #B4846C;
    }

    #drawer {
        top: 0;
        position: relative;
        transform: translate(0, 0);
        height: auto;
    }

    #hamburger {
        display: none;
    }

    .form-group input {
        width: 200px;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        margin-top: -8px;
        margin-left: auto;
        margin-right: 0;
    }

    .btn-group button {
        margin-left: 8px;
        margin-top: 0;
        width: 80px;
    }
}

@media screen and (min-width: 490px) {
    .hero__title {
        margin-top: 150px;
        font-size: 28px;
    }

    .hero__tagline {
        width: 100%;
        font-size: 14px;
    }

    .restaurants {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 20px;
    }

    .restaurant__thumbnail {
        height: 150px;
    }

    .restaurant__title {
        min-width: 150px;
    }
}

@media screen and (min-width: 664px) {
    .restaurant__thumbnail {
        height: 200px;
    }
}

@media screen and (min-width: 766px) {
    .hero__title {
        font-size: 32px;
    }

    .hero__tagline {
        font-size: 16px;
    }

    .logo_name a {
        position: relative;
        top: 0;
        font-size: 1em;
        text-decoration: none;
    }
}

@media screen and (min-width: 810px) {
    .footer_element {
        flex-direction: row;
    }

    .logo__footer{
        padding: 35px;
        flex-basis: 40%;
        font-size: 150%;
    }

    .footer_element p {
        margin-top: 105px;
    }

    .social__media {
        margin: 0;
        padding: 0 30px;
        text-align: right;
        flex-basis: 30%;
        font-size: 200%;
    }

    .fa-facebook, .fa-instagram, .fa-twitter {
        margin-right: 23px;
        cursor: pointer;
    }

    .restaurants {
        grid-template-columns: repeat(3, 1fr);
    }

    .restaurant__thumbnail {
        height: 180px;
    }

}

@media screen and (min-width: 890px) {
    .main_detail {
        flex-direction: row;
    }

    .restaurant_info {
        padding-left: 30px;
    }

    .restaurant_info h2{
        margin-top: 30px;
    }
}
 
@media screen and (min-width: 1130px) {
    .restaurants {
        grid-template-columns: repeat(4, 1fr);
    }

    .restaurant__thumbnail {
        height: 155px;
    }
}

@media screen and (min-width: 1200px) {
    .header_element {
        max-width: 1000px;
        margin: 0 auto;
    }

    .logo_name, .hero__inner {
        margin-left: 35px;
    }

    nav{
        margin-right: 35px;
    }

    .content {
        margin: 0 35px;
        padding: 0;
    }

    .hero {
        max-width: 1000px;
        margin: 0 auto;
    }

    .hero__title {
        font-size: 36px;
    }

    .hero__tagline {
        font-size: 150%;
    }

    .header_element, main, .footer_element { max-width: 1000px; }

    .logo__footer{
        flex-basis: 33%;
    }
        
}